.taskAddWrapper {
    margin-top: -27px;

    .newTaskForm {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;

        .taskInput {
            width: 100%;
            max-width: 638px;
            height: 54px;
            padding: 16px;
            color: var(--gray-100);
            background-color: var(--gray-400);
            border: 1px solid var(--gray-700);
            border-radius: 8px;
            font-size: 1rem;

            &::placeholder {
                color: var(--gray-300);
            }

            &:active,
            &:focus {
                outline: 2px solid var(--purple-dark);
                outline-offset: 2px;
                // border: 1px solid var(--purple-dark);
            }
        }

        .taskCreateButton {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            width: 100%;
            max-width: 90px;
            height: 54px;
            background-color: var(--blue-dark);
            color: var(--gray-100);
            font-size: 0.875rem;
            border-radius: 8px;
            border: none;
            cursor: pointer;

            transition: background-color 0.2s;

            &:hover {
                background-color: var(--blue);
            }

            &:focus {
                outline: 2px solid var(--purple);
                outline-offset: 2px;
            }
        }
    }
}