.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 400px;
  width: 94%;
  padding: 24px;
  background: var(--gray-500);
  border-radius: 6px;

  .title {
    color: var(--purple);
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;

    .inputs {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-top: 24px;

      label {
        color: var(--gray-200);
        font-size: 1rem;
      }

      input {
        padding: 12px 12px;
        color: var(--gray-100);
        background: var(--gray-400);
        border: none;
        border-radius: 4px;

        &:disabled {
          opacity: 0.6;
        }

        &:focus {
          outline: 2px solid var(--purple-dark);
          outline-offset: 2px;
        }
      }
    }

    .footer {
      display: flex;
      justify-content: flex-end;
      gap: 8px;
      margin-top: 24px;

      button {
        padding: 10px 16px;
        cursor: pointer;
        border: none;
        border-radius: 2px;
        color: var(--gray-100);
        transition: background 0.2s ease-out;
        font-weight: 500;

        &:focus {
          outline: 2px solid var(--purple-dark);
          outline-offset: 2px;
        }

        &.cancel {
          background: var(--red-danger);

          &:hover {
            background: #b44747;
          }
        }

        &.submit {
          background: var(--blue);

          &:hover {
            background: var(--blue-dark);
          }
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.overlay[data-state='open'],
.modal[data-state='open'] {
  animation: fadeIn 0.25s ease-out;
}

.overlay[data-state='closed'],
.modal[data-state='closed'] {
  animation: fadeOut 0.25s ease-in;
}