.taskItem {
  display: flex;
  width: 100%;
  padding: 16px;
  background-color: var(--gray-500);
  border: 1px solid var(--gray-400);
  border-radius: 8px;

  &+.taskItem {
    margin-top: 12px;
  }

  .taskHandle {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 16px;
    cursor: pointer;

    @media screen and (max-width: 425px) {
      gap: 12px;
    }

    &:hover .radioTask {
      background-color: var(--blue-task-radio);
      border-color: var(--blue-dark);
    }

    &.done {
      &:hover .radioTask {
        border-color: var(--purple);
        background-color: var(--purple);
      }

      .radioTask {
        border-color: var(--purple-dark);
        background-color: var(--purple-dark);
        background-image: url('../../../assets/icon-ok.svg');
        background-position: center center;
        background-repeat: no-repeat;
      }

      .taskContent {
        text-decoration: line-through;
        color: var(--gray-300);
      }
    }

    .radioTask {
      width: 18px;
      height: 18px;
      background-color: transparent;
      border: 2px solid var(--blue);
      border-radius: 50%;

      transition: border-color 0.2s, background-color 0.2s;
    }

    .taskContent {
      max-width: 94%;
      line-break: anywhere;
      color: var(--gray-100);
      font-size: 0.875rem;

      transition: color 0.2s;

      @media screen and (max-width: 425px) {
        max-width: 88%;
      }
    }
  }

  .controls {
    display: flex;
    align-items: center;
    gap: 6px;

    .editBtn,
    .deleteBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      margin-left: auto;
      background: transparent;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.2s;

      &:focus {
        outline: 2px solid var(--purple);
        outline-offset: 1px;
      }

      svg {
        height: 20px;

        path,
        line {
          transition: fill 0.2s;
        }
      }

      &:hover {
        background-color: var(--gray-400);

        svg {

          path,
          line {
            stroke: var(--red-danger);
          }
        }
      }
    }
  }

}